
{% extends "turbo_drive/base.html" %}
{% block title %} Create Task{% endblock title %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block extra_top_js %}
<script>
console.log('top script');
</script>
<script>
console.log('create page top script');
</script>
{% endblock %}

{% block content %}

        <div class="w-full max-w-7xl mx-auto px-4 py-4">
            <div class="grid grid-cols-2 gap-4">
                <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4  rounded-full px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" value="Submit">Submit</button>

            </form>
            </div>
        </div>

{% endblock %}

{% block extra_bottom_js %}
    <script>
        console.log('create page extra_bottom_js')
    </script>
{% endblock %}