

{% extends "turbo_drive/base.html" %}
{% load webpack_loader static %}
{% block title %} Home {% endblock title %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}


        <div class="jumbotron py-5 from-pink-500 to-orange-400">
            <div class="w-full max-w-7xl mx-auto px-4 ">

                <h1 class="text-4xl mb-4">Hello, Blessed!</h1>

                    <p class="mb-4">There are three ways to ultimate success: The first way is to be kind. The second way is to be kind. The third way is to be kind.

                <div class="flex justify-center">
                    <img src="{% static 'vendors/images/cfm.png' %}" class="img-fluid"/>
                </div>
            </div>
        </div>

{% endblock %}